.RR_MN {
  background-color: rgb(233, 218, 150);
  padding: 15px 0px;
  .SecondPage {
    background-color: rgb(104, 93, 47);
  }
  h1 {
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 20px;
  }
  h2 {
    font-weight: 800;
    font-size: 18px;
    margin: 20px 0px 10px;
  }
  span {
    font-weight: bold;
    background: #cccccc;
    letter-spacing: 3px;
    line-height: 1.3;
  }
}
