// HEADER (ШАПКА) ----------------------------------------------------------------------------------
.header {
  &__nav-top {
    .nav-top__logo {
    }
    .nav-top__span {
      display: flex;
      .top-span__item {
        width: 100px;
        height: 30px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        // text-align: center;
        // подменю при неведении
        &:hover {
          .top-item__ul {
            // display: block;
            opacity: 1;
            visibility: visible;
            // из ЕжеСвет
            // hover ----------------------------------------------------------------------------------
            opacity: 1;
            visibility: visible;
            transform: translate(0px, 0px);
            pointer-events: all;
          }
        }
        // NavLink (свой клас) - видим. эл. header
        .top-item__navl {
          // a.active {
          &.active {
            // color: red;
            // cursor: default;
          }
          // }
        }
        // NavLink (ссылка) - видим. эл. header
        > a.active {
          color: #7a7a7a;
          font-weight: bold;
          background-color: #000000;
          cursor: default;
        }
        // подменю
        .top-item__ul {
          // display: none;
          width: 100%;
          position: absolute;
          opacity: 0;
          visibility: hidden;
          z-index: 1;
          // из ЕжеСвет
          // @media 768 ----------------------------------------------------------------------------------
          transform: translate(0px, 10%);
          opacity: 0;
          visibility: hidden;
          transition: all 0.3s ease 0s;
          pointer-events: none;
          // умолч ----------------------------------------------------------------------------------
          position: absolute;
          top: 100%;
          // font-style: italic;
          font-size: 16px;
          // font-weight: 900;
          text-align: center;
          width: 120px;
          padding: 1px 3px 3px;
          list-style-type: none;
          border: 2px solid #000;
          background: #ccc;
          border-radius: 10px;
          .top-ul__li {
            width: 100%;
            display: flex;
            margin-top: 2px;
            // padding: 0px 5px;
            text-align: center;
            background: #8d0000;
            border-radius: 7px;
            color: yellow;
            // align-content: center;
            // justify-content: center;
            // align-items: center;
            a {
              width: inherit;
              // text-align: center;
              /* width: 100%; */
              // height: 100%;
              /* background: gray; */
              // border-radius: 5px;
            }
          }
        }
      }
    }
  }
  &__nav-botom {
  }
}
