.asd {
  display: flex;
  display: block;
  flex-direction: column;
  position: relative;
}
.asd2 {
  display: flex;
  display: block;
  flex-direction: column;
  display: flex;
  /* display: block; */
  /* flex-direction: column; */
  position: absolute;
  top: 100%;
  /* z-index: 1; */
  background: #8d0000;
  width: 100%;
  text-align: center;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  margin-top: 5px;
}
nav span {
  display: flex;
}
